<!-- Header -->

<header id="header-wrap" data-spy="affix" data-offset-top="55">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">

            </a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="top-menu">
              <li class="active"><a href="#iq-home">Home</a></li>
              <li><a href="#about-us">About Us</a></li>
              <li><a href="#features">Features</a></li>
              <li><a href="#screenshots">Screenshots</a></li>
              <li><a href="#contact-us">Contact Us</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </nav>
      </div>
    </div>
  </div>
</header>

<!-- Header End -->
<!-- Banner -->

<section id="iq-home" class="banner iq-bg iq-bg-fixed iq-box-shadow iq-over-black-90" style=" background: url(assets/images/banner/bg.jpg);">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="container">
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <!--Banner #1-->
          <div class="banner-text">
            <div class="row">
              <div class="col-sm-8 col-lg-8 col-md-8">
                <h1 class="iq-font-white iq-tw-8" data-animation="animated fadeInLeft">
                  <small class="iq-font-white iq-tw-5"> <strong class="iq-font-white">&#9679;</strong>  Revolutionizing patient care. </small> MEDCONEX MOBILE APP
                </h1>

              </div>
              <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                <div class="img-one pull-right">
                  <img class="img-responsive" data-animation="animated fadeInRight" src="assets/images/screenshots/phone-real-filled.png" alt="#">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <!--Banner #2-->
          <div class="banner-text">
            <div class="row">
              <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                <div class="img-one pull-left">
                  <img class="img-responsive center-block" data-animation="animated fadeInLeft" src="assets/images/screenshots/phone-real-filled.png" alt="#">
                </div>
              </div>
              <div class="col-sm-8 col-lg-8 col-md-8">
                <h1 class="iq-font-white iq-tw-8" data-animation="animated fadeInRight"><small class="iq-font-white iq-tw-5"><b class="iq-font-white">&#9679;</b> Smooth and seamless communication among physicians, pharmacies, insurers, and patients.</small>HOLISTIC APPROACH</h1>

              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <!--Banner #3-->
          <div class="banner-text">
            <div class="row">
              <div class="col-sm-8 col-lg-8 col-md-8">
                <h1 class="iq-font-white iq-tw-8" data-animation="animated bounceInLeft"><small class="iq-font-white iq-tw-5"><b class="iq-font-white">&#9679;</b>Designed to not only pass along information but also as a holding place for good thoughts, encouragement as well as medical and caregiving updates. </small>CONNECT WITH YOUR LOVED ONES</h1>
                <div class="link">

                </div>
              </div>
              <div class="col-sm-4 col-lg-4 col-md-4 hidden-xs">
                <div class="img-one pull-right">
                  <img class="img-responsive center-block" data-animation="animated rotateInDownRight" src="assets/images/screenshots/phone-real-filled.png" alt="#">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Banner End -->

<div class="main-content">

  <!-- Feature -->

  <section id="about-us" class="overview-block-ptb">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="ut-section-title">
            <h2 class="ut-title">Amazing Features</h2>
            <p>We've been working really hard to improve Medconnex with this amazing new features that you wanted! Check out some of Medconnex best features. </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-4">
          <div class="iq-fancy-box text-center ">
            <img class="text-center" src="assets/images/phones/mobiledashboard.png" alt="#" height="240px" width="250px">
            <h4 class="iq-tw-6 text-left">Simple Navigation</h4>
            <p class="text-left">With world in class navigation, our app gives you easy access to all your items in a modern dashboard.</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 re-mt-30">
          <div class="iq-fancy-box text-center">
            <img src="assets/images/phones/reminder-fullwhite.png" alt="#" height="240px" width="250px">
            <h4 class="iq-tw-6">Easy Reminders</h4>
            <p class="text-left">With our reminders it has never been easier to keep track of your medications.</p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 re-mt-30">
          <div class="iq-fancy-box text-center">
            <img src="assets/images/phones/circleadding.png" alt="#" height="240px" width="250px">
            <h4 class="iq-tw-6 text-left">A circle of care for you</h4>
            <p class="text-left">Invite all of your loved ones to keep track of your medications during this period. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Feature END -->
  <!-- About Our App -->

  <section class="iq-about grey-bg iq-mtb-40">
    <div class="container">
      <div class="row row-eq-height">
        <div class="col-sm-12 col-lg-5 col-md-5 iq-about-bg">
          <div class="iq-bg about-img popup-gallery play-video">
            <img class="img-responsive center-block" src="assets/images/about-us.jpg" alt="#">
            <a href="video/01.mp4" class="iq-video popup-youtube"><i class="ion-ios-play-outline"></i></a>
            <div class="iq-waves">
              <div class="waves wave-1"></div>
              <div class="waves wave-2"></div>
              <div class="waves wave-3"></div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-7 col-md-7 iq-pall-50">
          <h2 class="heading-left iq-tw-6 ">About Our App</h2>
          <div class="lead iq-tw-6 iq-mb-20">Helping people adhere to prescribed medications using scientific methods.</div>
          <p>We believe that patients are not alone in their health journey. When your loved one has a condition, it is natural to want to support them in the challenges that chronic diseases present to them. By providing a platform for patients to communicate their data, share their decisions and feelings about those prescriptions, between the people that care about their health outcomes, We aim to increase people's adherence to medications.</p>
          <a class="button iq-mt-15" href="https://play.google.com/store/apps/details?id=org.nativescript.MedConex&rdid=org.nativescript.MedConex ">Download now for Android</a>
        </div>
      </div>
    </div>
  </section>

  <!-- About Our App END -->
  <!-- Special Features -->

  <section id="features" class="overview-block-ptb iq-amazing-tab white-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title">
            <h2 class="title iq-tw-6">Special Features</h2>
            <div class="divider"></div>
            <p>With a vast set of features created with the purpose of facilitating your adherence to medications, </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-4">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active wow fadeInLeft" data-wow-duration="1s">
              <a class="round-right" href="#design" aria-controls="design" role="tab" data-toggle="tab">
                <div class="iq-fancy-box-01 text-right">
                  <i aria-hidden="true" class="ion-ios-checkmark-outline"></i>
                  <h4 class="iq-tw-6">Easy to navigate dashboard</h4>
                  <div class="fancy-content-01">
                    <p>With everything at your finger tips our dashboard makes it easier for you to access all the content in our application from a single page.</p>
                  </div>
                </div>
              </a>
            </li>
            <li role="presentation" class="wow fadeInLeft" data-wow-duration="1s">
              <a class="round-right" href="#resolution" aria-controls="resolution" role="tab" data-toggle="tab">
                <div class="iq-fancy-box-01 text-right">
                  <i aria-hidden="true" class="ion-ios-color-wand-outline"></i>
                  <h4 class="iq-tw-6">A good way to remember</h4>
                  <div class="fancy-content-01">
                    <p>Great reminders feature integrated with the whole app</p>
                  </div>
                </div>
              </a>
            </li>
            <li role="presentation" class="wow fadeInLeft" data-wow-duration="1s">
              <a class="round-right" href="#ready" aria-controls="ready" role="tab" data-toggle="tab">
                <div class="iq-fancy-box-01 text-right">
                  <i aria-hidden="true" class="ion-ios-copy-outline"></i>
                  <h4 class="iq-tw-6">An integrated calendar for all your needs</h4>
                  <div class="fancy-content-01">
                    <p> A calendar that shows all your upcoming medications, appointments, refills and much more.</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4 text-center hidden-sm hidden-xs">
          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="design"><img src="assets/images/phones/dashboardfull.png" class="img-responsive center-block" alt="#"></div>
            <div role="tabpanel" class="tab-pane" id="resolution"><img src="assets/images/phones/reminderfull.png" class="img-responsive center-block" alt="#"></div>
            <div role="tabpanel" class="tab-pane" id="ready"><img src="assets/images/phones/calendar-full.png" class="img-responsive center-block" alt="#"></div>
            <div role="tabpanel" class="tab-pane" id="fertures"><img src="assets/images/phones/doctor-dashfull.png" class="img-responsive center-block" alt="#"></div>
            <div role="tabpanel" class="tab-pane" id="face"><img src="assets/images/phones/prescri-full.png" class="img-responsive center-block" alt="#"></div>
            <div role="tabpanel" class="tab-pane" id="codes"><img src="assets/images/phones/chat-full.png" class="img-responsive center-block" alt="#"></div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-4">
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="wow fadeInRight" data-wow-duration="1s">
              <a href="#fertures" aria-controls="fertures" role="tab" data-toggle="tab">
                <div class="iq-fancy-box-01">
                  <i aria-hidden="true" class="ion-ios-photos-outline"></i>
                  <h4 class="iq-tw-6">Doctor's dashboard for easy access to all your information</h4>
                  <div class="fancy-content-01">
                    <p>Our app facilitates your doctor to see when you take your medications, when you miss them and much more information related to this.</p>
                  </div>
                </div>
              </a>
            </li>
            <li role="presentation" class="wow fadeInRight" data-wow-duration="1s">
              <a href="#face" aria-controls="face" role="tab" data-toggle="tab">
                <div class="iq-fancy-box-01">
                  <i aria-hidden="true" class="ion-ios-heart-outline"></i>
                  <h4 class="iq-tw-6">Prescriptions refill to make your life easier</h4>
                  <div class="fancy-content-01">
                    <p>With our refill feature never run out of medications because you can always refill your prescriptions in just a few steps.</p>
                  </div>
                </div>
              </a>
            </li>
            <li role="presentation" class="wow fadeInRight" data-wow-duration="1s">
              <a href="#codes" aria-controls="codes" role="tab" data-toggle="tab">
                <div class="iq-fancy-box-01">
                  <i aria-hidden="true" class="ion-ios-plus-outline"></i>
                  <h4 class="iq-tw-6">Integrated chat for encouragement</h4>
                  <div class="fancy-content-01">
                    <p>With our integrated chat you will never feel alone with encouragement from all your family members during this journey.</p>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Special Features END -->
  <!-- App Screenshots -->

  <section id="screenshots" class="iq-app iq-bg iq-bg-fixed iq-font-white" style="background: url(assets/images/banner/bg.jpg);">
    <div class="container-fluid">
      <div class="row row-eq-height">
        <div class="col-md-6 text-left iq-ptb-80 green-bg">
          <div class="iq-app-info">
            <h2 class="heading-left iq-font-white white iq-tw-6 ">Insights</h2>
            <div class="lead iq-tw-6 iq-mb-20">MedConex offers seamless communication among physicians, pharmacies, insurers, and patients to maximize the patient’s benefits as far as medication cost and accessibility to the best price for prescription drugs, and to help patients use and manage their medications in the most effective way.</div>
            <h4 class="iq-mt-50 iq-font-white iq-tw-6 iq-mb-15">Circle of Care</h4>
            <p class="">Each patient can open a circle of care and create a community around their loved ones, Why? So that heir loved ones can stay in touch at the time of medical emergency to one of family members. It’s a perfect app for a family that rallies around a loved one in need of care, and for those who are facing surgeries, rehabilitation, and procedures that go along with diseases such as cancer, heart disease, diabetes, etc</p>
          </div>
        </div>
        <div class="col-md-6 iq-app-screen iq-ptb-80">
          <div class="home-screen-slide">
            <div class="owl-carousel popup-gallery" data-autoplay="true" data-loop="true" data-nav="false" data-dots="false" data-items="3" data-items-laptop="2" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="15">
              <div class="item"><a href="assets/images/phones/dashboardfull.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/dashboardfull.png" alt="#"></a></div>
              <div class="item"><a href="assets/images/phones/chat-full.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/chat-full.png" alt="#"></a></div>
              <div class="item"><a href="assets/images/phones/reminderfull.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/reminderfull.png" alt="#"></a></div>
              <div class="item"><a href="assets/images/phones/calendar-full.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/calendar-full.png" alt="#"></a></div>
              <div class="item"><a href="assets/images/phones/adherance.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/adherance.png" alt="#"></a></div>
              <div class="item"><a href="assets/images/phones/prescri-full.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/prescri-full.png" alt="#"></a></div>
              <div class="item"><a href="assets/images/phones/doctor-dashfull.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/doctor-dashfull.png" alt="#"></a></div>
              <div class="item"><a href="assets/images/phones/chatsearchresults.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/chatsearchresults.png" alt="#"></a></div>
              <div class="item"><a href="assets/images/phones/createvent.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/createvent.png" alt="#"></a></div>
              <div class="item"><a href="assets/images/phones/circlecreation.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/circlecreation.png" alt="#"></a></div>
              <div class="item"><a href="assets/images/phones/circlesearch.png" class="popup-img"><img class="img-responsive" src="assets/images/phones/circlesearch.png" alt="#"></a></div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- App Screenshots END -->
  <!-- Appino Great Feature -->

  <section class="overview-block-ptb white-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title">
            <h2 class="title iq-tw-6">How MedConex makes the world better?</h2>
            <div class="divider"></div>
            <p></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-lg-4 col-md-4">
          <div class="iq-fancy-box-02 text-center">
            <div class="iq-icon">
              <i aria-hidden="true" class="ion-ios-monitor-outline"></i>
            </div>
            <div class="fancy-content">
              <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Better Management </h5>
              <p>Excusively designed to help patients use and manage their medications in the most effective way.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-md-4 re7-mt-50">
          <div class="iq-fancy-box-02 text-center">
            <div class="iq-icon">
              <i aria-hidden="true" class="ion-android-calendar"></i>
            </div>
            <div class="fancy-content">
              <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">Adherance</h5>
              <p>All angles of this platform were designed for the sole goal of adhering the patients to their medications, improving their overall health.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 col-md-4 re-mt-30">
          <div class="iq-fancy-box-02 text-center">
            <div class="iq-icon">
              <i aria-hidden="true" class="ion-ios-heart-outline"></i>
            </div>
            <div class="fancy-content">
              <h5 class="iq-tw-6 iq-pt-20 iq-pb-10">More than just a medication management app</h5>
              <p>It's a designed space were we can uplift, stay in the loop, help each other through a difficult time, and having something that’s lasting.</p>
            </div>
          </div>
        </div>


      </div>
    </div>
  </section>


  <!-- Frequently Asked Questions -->
  <!-- <section class="overview-block-ptb white-bg">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="heading-title">
                      <h2 class="title iq-tw-6">Frequently Asked Questions</h2>
                      <div class="divider"></div>
                      <p>If you got any query? Here you go! Don't hesitate to ask any Question! We are happy to help with your questions. Here you go! Don't hesitate to ask any Question! We are happy to help with your questions.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-12 col-md-6">
                  <img class="img-responsive center-block" src="assets/images/01.png" alt="">
              </div>
              <div class="col-sm-12 col-md-6">
                  <div class="iq-accordion iq-mt-50">
                      <div class="iq-ad-block ad-active"> <a href="javascript:void(0)" class="ad-title iq-tw-6 iq-font-grey"> <span class="ad-icon"><i class="ion-ios-infinite-outline" aria-hidden="true"></i></span>Ipsum is simply dummy the printing?</a>

                      <div class="ad-details">
                      <div class="row">
                        <div class="col-sm-3"><img alt="#" class="img-responsive" src="assets/images/faq-1.jpg"></div>
                        <div class="col-sm-9"> It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                     </div>
                     </div>
                      </div>

                      <div class="iq-ad-block"> <a href="javascript:void(0)" class="ad-title iq-tw-6 iq-font-grey"> <span class="ad-icon"><i class="ion-ios-time-outline" aria-hidden="true"></i></span>Dummy the printing and type setting?</a>
                          <div class="ad-details">It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                      </div>
                      <div class="iq-ad-block"> <a href="javascript:void(0)" class="ad-title iq-tw-6 iq-font-grey"> <span class="ad-icon"><i class="ion-ios-compose-outline" aria-hidden="true"></i></span>Standard dummy since the 1500s?</a>
                          <div class="ad-details">
                           <div class="row">
                             <div class="col-sm-9"> It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                        <div class="col-sm-3"><img alt="#" class="img-responsive" src="assets/images/faq-1.jpg"></div>

                     </div>
                          </div>
                      </div>
                      <div class="iq-ad-block"> <a href="javascript:void(0)" class="ad-title iq-tw-6 iq-font-grey"> <span class="ad-icon"><i class="ion-ios-loop" aria-hidden="true"></i></span>It has survived five centuries?</a>
                          <div class="ad-details">It has survived not only five centuries, but also the leap into electronic typesetting. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit.</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section> -->
  <!-- Frequently Asked Questions END -->
  <!-- Frequently Asked Questions -->

  <section class="overview-block-ptb iq-bg iq-bg-fixed iq-over-black-80" style="background: url(assets/images/phones/04.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title iq-mb-40">
            <h2 class="title iq-tw-6 iq-font-white">Download MedConex</h2>
            <div class="divider white"> </div>
            <p class="iq-font-white"></p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 text-center">
          <a class="button button-icon iq-mr-15" href="# "> <i class="ion-social-apple"></i> App Store - Coming Soon</a>
          <a class="button button-icon iq-mr-15 re4-mt-20" href="https://play.google.com/store/apps/details?id=org.nativescript.MedConex&rdid=org.nativescript.MedConex"> <i class="ion-social-android"></i> Google Play</a>
          <!--                    <a class="button button-icon re7-mt-30 re4-mt-20" href="# "> <i class="ion-social-windows"></i> Windows Store</a>-->
        </div>
      </div>
    </div>
  </section>

  <!-- Frequently Asked Questions END -->



</div>



<div class="footer">
  <!-- Subscribe Our Newsletter -->
  <section class="overview-block-ptb iq-newsletter iq-bg iq-bg-fixed iq-over-black-80" style="background: url(assets/images/banner/bg.jpg);">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title iq-mb-40">
            <h2 class="title iq-tw-6 iq-font-white">Subscribe Our Newsletter</h2>
            <div class="divider white"></div>
            <p class="iq-font-white">Subscribe to our newsletter and don’t miss new arrivals, the latest update and special offers from MedConex!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div id="sendgrid-subscription-widget" class="sendgrid-subscription-widget" data-emailerror="Please enter a valid email address">
            <form id="sg-widget" class="form-inline" data-token="386861fc73d055b997659cec39eb43d2" onsubmit="return false;">
              <div class="sg-response" id="sg-response">
              </div>
              <div class="form-group">
                <input id="sg_email" type="email" class="form-control" name="sg_email" placeholder="you@example.com" required="required">
              </div>
              <input class="button bt-white iq-ml-25" type="submit" id="sg-submit-btn" value="Subscribe">
            </form>
          </div>
          <!--                    <div class="newsletter-phone iq-mt-50 wow fadeInUp" data-wow-duration="1s">-->
          <!--                        <img class="img-responsive center-block" src="assets/images/02.png" alt="#">-->
          <!--                    </div>-->
        </div>
      </div>
    </div>
  </section>

  <!-- Subscribe Our Newsletter END -->
  <!-- Address -->

  <section class="iq-our-info white-bg overview-block-ptb">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div class="iq-info-box text-center iq-pt-50">
            <div class="info-icon green-bg"><i class="ion-ios-location-outline" aria-hidden="true"></i></div>
            <h4 class="iq-tw-6 iq-mt-25 iq-mb-15">Address</h4>
            <span class="lead iq-tw-6">1165 Lincoln Ave., No. 8594, San Jose, CA 95125</span>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="iq-info-box text-center iq-pt-50">
            <div class="info-icon green-bg"><i class="ion-ios-telephone-outline" aria-hidden="true"></i></div>
            <h4 class="iq-tw-6 iq-mt-25 iq-mb-15">Phone</h4>
            <span class="lead iq-tw-6">408-621-5723</span>
            <p>Mon-Fri 8:00am - 8:00pm</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="iq-info-box text-center iq-pt-50">
            <div class="info-icon green-bg"><i class="ion-ios-email-outline" aria-hidden="true"></i></div>
            <h4 class="iq-tw-6 iq-mt-25 iq-mb-15">Mail</h4>
            <span class="lead iq-tw-6">support@nativoplus.studio</span>
            <p>24 X 7 online support</p>
          </div>
        </div>
        <div class="col-sm-12">
          <ul class="info-share">
            <li><a href="https://www.linkedin.com/company/nativoplus/"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="javascript:void(0)"><i class="fa fa-facebook"></i></a></li>
            <!--                        <li><a href="javascript:void(0)"><i class="fa fa-whatsapp"></i></a></li>-->
            <li><a href="javascript:void(0)"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- Address END -->
  <!-- MAP Info -->

  <div class="iq-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3173.4912163533527!2d-121.90287268469575!3d37.30719047984728!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e3357f5f04c03%3A0xe79af3e4ec4f1ff0!2s1165+Lincoln+Ave+%238594%2C+San+Jose%2C+CA+95125%2C+USA!5e0!3m2!1sen!2spr!4v1554345543421!5m2!1sen!2spr" frameborder="0" style="border:0" allowfullscreen></iframe>

  </div>

  <!-- MAP Info END -->
  <!-- Get in Touch -->

  <section id="contact-us" class="iq-our-touch">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="iq-get-in iq-pall-40 white-bg">
            <div class="row">
              <div class="col-sm-12">
                <div class="heading-title iq-mb-60">
                  <h2 class="title iq-tw-6">Get in Touch</h2>
                  <div class="divider"></div>
                  <p>Do you have a question for us? we'd love to here from you and we would be happy to answer your questions. Reach out to us and we'll respond as soon as we can.</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div id="formmessage">Success/Error Message Goes Here</div>
              <form class="form-horizontal" id="contactform" method="post" action="../php/contact-form.php">
                <div class="contact-form">
                  <div class="col-sm-6">
                    <div class="section-field">
                      <input id="name" type="text" placeholder="Name*" name="name">
                    </div>
                    <div class="section-field">
                      <input type="email" placeholder="Email*" name="email">
                    </div>
                    <div class="section-field">
                      <input type="text" placeholder="Phone*" name="phone">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="section-field textarea">
                      <textarea class="input-message" placeholder="Comment*" rows="7" name="message"></textarea>
                    </div>
                    <input type="hidden" name="action" value="sendEmail" />
                    <button id="submit" name="submit" type="submit" value="Send" class="button pull-right iq-mt-40">Send Message</button>
                  </div>
                </div>
              </form>
              <div id="ajaxloader" style="display:none"><img class="center-block mt-30 mb-30" src="assets/images/ajax-loader.gif" alt=""></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Get in Touch END -->
  <!-- Footer -->

  <footer class="iq-footer white-bg text-center">
    <div class="container">
      <!--            <div class="row">-->
      <!--                <div class="col-md-10 col-md-offset-1">-->
      <!--                    <div class="footer-info iq-mt-50 iq-mb-30">-->
      <!--                        <img id="logo_img" class="img-responsive center-block iq-mb-10 wow zoomIn" data-wow-duration="1s" src="assets/images/logo-footer.png" alt="">-->
      <!--                        <p>Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, </p>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--            </div>-->
      <div class="row">
        <div class="col-sm-12">
          <div class="footer-copyright iq-ptb-20">© Copyright 2018 Appino Developed by <a target="_blank" href="https://iqonicthemes.com/">iqonicthemes</a>. Modified for Medconex.</div>
        </div>
      </div>
    </div>
  </footer>

  <!-- Footer END -->

</div>

<!-- back-to-top -->

<div id="back-to-top">
  <a class="top" id="top" href="#top"> <i class="ion-ios-upload-outline"></i> </a>
</div>
