<section class="iq-breadcrumb overview-block-pt text-center iq-bg iq-bg-fixed iq-over-black-90 iq-box-shadow" style="background: url(images/about/04.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="heading-title iq-breadcrumb-title iq-mtb-100">
          <h1 class="title iq-tw-8 iq-font-white">UNAUTHORIZED</h1>
          <div class="divider white"></div>
        </div>
        <ul class="breadcrumb">
          <li><a routerLink="/" routerLinkActive="active"><i class="ion-home"></i> Home</a></li>
          <li class="active">Unauthorized</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="iq-error overview-block-ptb text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="big-text iq-tw-7">Sorry!</div>
        <h3 class="iq-font-light iq-tw-6 iq-mtb-10">Your account is not authorized to access the admin panel.</h3>
      </div>
    </div>
  </div>
</section>
